.clearfix {
	  overflow: auto;
}
#star {
  color: orange;
}
/*-------------------side navigation bar--------------------*/
.navigation ul li {
  list-style: none;
  display: inline;
  font-size: 30px;
}

.navigation ul li a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 25px;
}
.navigation hr {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1; 
  top: 0;
  left: 0;
  background: #eee; 
  overflow-x: hidden;
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav  a {
  padding: 10px 10px 10px 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  color: black;
  display: block;
  margin-bottom: 18px;
  transition: 0.3s;
}
.sidenav a i {
  margin-left: 10px;
}

.sidenav a:hover {
  color: #eee;
  background: lightblue;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: black; 
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

/*-------------------Inner content-------------------*/
.container {
  margin: 0 100px 0 100px;
}
h3 {
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: underline;
}

h4 {
  font-weight: normal;
}
#overall-review-table {
  background: white;
}
table {
  border: 2px solid black;
  border-radius: 8px;
  background: #e6fff5;
}
table th {
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;

}


table th,td{
  /*border: 1px solid black;*/
  /*border-bottom: 2px solid black;*/
  width: 300px;
  padding: 10px;
  text-align: center;

}

table input {
  background: white;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 2.5px;

}
table input:hover {
  background: orange;
  color: black;
}

.inner-line p {
  border-bottom: 2px solid black;
}

textarea {
  border: 1px solid black;
  border-radius: 5px;

}

#cus-name {
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 1px;
}

.customer-review-1 table td {
  /*border: 1px solid black;*/


}

.customer-review-1 table {
  width: 450px;
  margin-left: 30px;
  margin-bottom: 50px;
  display: inline-block;
}


/*--------------------footer-tag--------------------*/
.footer {
  padding: 5px;
  margin-top: 150px;
  width: 100%;
  border-top: 2px solid black;
  color: black;
  font-size: 17px;

}

.footer p  {
  display: inline;
}